<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/" th:href="@{/}" />
    <script th:inline="javascript">
    /*<![CDATA[*/
      var CONTEXT_PATH = /*[[@{/}]]*/ "/";
      var AUTHORITIES = /*<%="[[${authorities}]]"%>*/ [];
      var PRIMARY_COLOR = /*<%="[[${primaryColor}]]"%>*/ "#3f51b5";
    /*]]>*/
    </script>
  </head>
  <body style="margin: 0px">
    <div id="root"></div>
  </body>
</html>